# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
target/

.idea
log/

out/
logback-example/log/*

.classpath
.project
.settings
.vscode/
bin/
*.iml
*.ipr
*.iws
