<!--
  ~ SPDX-License-Identifier: CC0-1.0
  ~
  ~ Copyright 2018-2020 Will Sargent.
  ~
  ~ Licensed under the CC0 Public Domain Dedication;
  ~ You may obtain a copy of the License at
  ~
  ~  http://creativecommons.org/publicdomain/zero/1.0/
  -->
<configuration>

    <turboFilter class="com.tersesystems.logback.turbomarker.TurboMarkerTurboFilter">

    </turboFilter>

    <appender name="LIST" class="ch.qos.logback.core.read.ListAppender">
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="LIST" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>

