<!--
  ~ SPDX-License-Identifier: CC0-1.0
  ~
  ~ Copyright 2018-2020 Will Sargent.
  ~
  ~ Licensed under the CC0 Public Domain Dedication;
  ~ You may obtain a copy of the License at
  ~
  ~  http://creativecommons.org/publicdomain/zero/1.0/
  -->
<configuration>

    <conversionRule conversionWord="uniqueId" converterClass="com.tersesystems.logback.uniqueid.UniqueIdConverter" />

    <appender name="DECORATE_WITH_UNIQUEID" class="com.tersesystems.logback.uniqueid.UniqueIdComponentAppender">
        <!-- <idGenerator class="com.tersesystems.logback.uniqueid.TsidIdgenerator"/>-->
        <!--<idGenerator class="com.tersesystems.logback.uniqueid.UlidIdGenerator"/>-->
        <!--<idGenerator class="com.tersesystems.logback.uniqueid.KsuidSubsecondIdGenerator"/>-->
         <idGenerator class="com.tersesystems.logback.uniqueid.RandomUUIDIdGenerator"/>
        <appender class="ch.qos.logback.core.read.ListAppender">
            <name>LIST</name>
        </appender>

        <appender class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%-5relative %-5level %uniqueId %logger{35} - %msg%n</pattern>
            </encoder>
        </appender>
    </appender>

    <root level="TRACE">
        <appender-ref ref="DECORATE_WITH_UNIQUEID"/>
    </root>
</configuration>