<!--

    SPDX-License-Identifier: CC0-1.0

    Copyright 2018-2019 Will Sargent.

    Licensed under the CC0 Public Domain Dedication;
    You may obtain a copy of the License at

        http://creativecommons.org/publicdomain/zero/1.0/

-->
<configuration>

    <appender name="SELECT" class="com.tersesystems.logback.core.SelectAppender">
        <appenderKey>${APPENDER_KEY}</appenderKey>

        <appender class="com.tersesystems.logback.core.CompositeAppender">
            <name>test</name>
            <appender class="ch.qos.logback.core.read.ListAppender">
                <name>test-list</name>
            </appender>
        </appender>

        <appender class="com.tersesystems.logback.core.CompositeAppender">
            <name>development</name>
            <appender class="ch.qos.logback.core.ConsoleAppender">
                <name>development-console</name>
                <encoder>
                    <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
                </encoder>
            </appender>
        </appender>

        <appender class="com.tersesystems.logback.core.CompositeAppender">
            <name>staging</name>
            <appender class="ch.qos.logback.core.ConsoleAppender">
                <name>staging-console</name>
                <encoder>
                    <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
                </encoder>
            </appender>

            <!--<appender class="ch.qos.logback.core.FileAppender">-->
            <!--    <name>staging-file</name>-->
            <!--    <file>file.log</file>-->
            <!--    <encoder>-->
            <!--        <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>-->
            <!--    </encoder>-->
            <!--</appender>-->
        </appender>
    </appender>

    <root level="TRACE">
        <appender-ref ref="SELECT"/>
    </root>

</configuration>