<!--
  ~ SPDX-License-Identifier: CC0-1.0
  ~
  ~ Copyright 2018-2020 Will Sargent.
  ~
  ~ Licensed under the CC0 Public Domain Dedication;
  ~ You may obtain a copy of the License at
  ~
  ~  http://creativecommons.org/publicdomain/zero/1.0/
  -->
<configuration>

  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

  <appender name="ASYNC_JDBC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
    <appender class="com.tersesystems.logback.correlationid.CorrelationIdJDBCAppender">
      <mdcKey>correlationId</mdcKey>

<!--          <driver>com.p6spy.engine.spy.P6SpyDriver</driver>-->
<!--          <url>jdbc:p6spy:h2:mem:terse-logback;DB_CLOSE_DELAY=-1</url>-->
      <driver>org.h2.Driver</driver>
      <url>jdbc:h2:mem:terse-logback;DB_CLOSE_DELAY=-1</url>
      <username>sa</username>
      <password></password>

      <createStatements>
        CREATE TABLE IF NOT EXISTS events (
        ID NUMERIC NOT NULL PRIMARY KEY AUTO_INCREMENT,
        ts TIMESTAMP(9) WITH TIME ZONE NOT NULL,
        relative_ns BIGINT NULL,
        start_ms BIGINT NULL,
        level_value int NOT NULL,
        level VARCHAR(7) NOT NULL,
        evt JSON NOT NULL,
        correlation_id VARCHAR(255) NOT NULL,
        event_id VARCHAR(255) NULL
        );
        CREATE INDEX IF NOT EXISTS event_id_idx ON events(event_id);
        CREATE INDEX IF NOT EXISTS correlation_id_idx ON events(correlation_id);
      </createStatements>
      <insertStatement>
        insert into events(ts, relative_ns, start_ms, level_value, level, evt, correlation_id, event_id) values(?, ?, ?, ?, ?, ?, ?, ?)
      </insertStatement>

      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      </encoder>
    </appender>
  </appender>

  <appender name="CONSOLE" class="com.tersesystems.logback.uniqueid.UniqueIdComponentAppender">
    <appender class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
      </encoder>
    </appender>
  </appender>

  <logger name="com.example.ExampleClass" level="INFO" additivity="false">
    <appender-ref ref="ASYNC_JDBC" />
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>

