<configuration>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Name>TRACER_FILTER</Name>
        <Marker>TRACER</Marker>
        <OnMatch>ACCEPT</OnMatch>
    </turboFilter>

    <appender name="JSONCONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <root>
        <appender-ref ref="JSONCONSOLE"/>
    </root>
</configuration>