<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.tersesystems.logback.bytebuddy" level="TRACE"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>

